* {
  margin: 0;
  paddinh: 0;
}
.App {
  background: #4e1e29;
  height: 100vh;
  padding-top: 55px;
}
.innerContent {
  background: #c6b38e;
  height: 85vh;
  width: 70vw;
  margin: auto;
  position: relative;
  border-radius: 10px;
}

.innerContentNotLogin {
  background: #c6b38e;
  height: 85vh;
  width: 60vw;
  margin: auto;
  position: relative;
  border-radius: 10px;
  top: -30px;
}
